/*===== CSS theme file for CalendarXP 9.0 (Totally configurable) =====*/
/* NOTE: Better use numbered color values instead of literal ones, because opera has problem with the latter in certain cases. */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('<? echo $this->basePath;?>/Open_Sans/OpenSans-Light.ttf') format('ttf');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url('<? echo $this->basePath;?>/Open_Sans/OpenSans-Light.ttf') format('ttf');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url('<? echo $this->basePath;?>/Open_Sans/OpenSans-Light.ttf') format('ttf');
}

/* Calendar Day Header - the cells showing "Sunday", "Monday" .... */
.CalHead {cursor:default; text-align:center;}
/* Day of Week - the Anchor inside CalHead showing the day of week */
.DoWAnchor {text-decoration:none; font:bold 7.5pt Tahoma, Verdana, sans-serif; color:white;}
/* Day Column Cell - the TD cell of each day */
.CalCol {}
/* Day Cell - the DIV cell inside TD */
.CalCell {cursor:pointer; text-align:center;}
/* Day Number - the Anchor inside DIV showing the day number  */
.CellAnchor {text-decoration:none; font:9pt verdana;}

/* WeekNo Header - the top header cell of the week number column */
.WeekHead {cursor: auto; text-align:center; font:bold 10pt 'Open Sans'; color:white;}
/* WeekNo Column Cell - the cells of the week number column */
.WeekCol {cursor:default; text-align:center; background:#b0c4de;}
/* WeekNo Anchor style */
.WeekAnchor {text-decoration:none; font:bold 8pt 'Open Sans'; color:white;}

/* Month navigators - the "<" or ">" used to move to previous or next month */
.MonthNav {vertical-align:middle; height:22px; width:18px; font:bold 10pt 'Open Sans' bold; color:black;}
A.MonthNav:hover {color:yellow}
A.MonthNav:active {color:red}

/* styles for the 3 calendar sections (actually 3 table TDs) */
.CalTop {text-align:center;}
.CalMiddle {}
.CalBottom {text-align:center;}

/* Calendar title - showing year and month. when giDCStyle=0, it's the style of the year/month dropdowns; giDCStyle>0, it's the style to show gsCalTitle.  */
.CalTitle {vertical-align:middle; font:10pt 'Open Sans'; color:black;}

/* The style of internal floating div/layer tags, which are usually used to create the artificial dropdown selectors. */
.FreeDiv {}

/* The style of the outer TABLE tag which is the outer calendar panel. */
#outerTable {border:2px ridge #ffffff;}
/* The style of the inner DIV tag that holds the inner panel of all calendar cells. */
#innerDiv {border:1px solid #dcdcdc;}
/*===== Above CSS styles are commonly used in the script engine =====*/

/*====== Following are additional per-theme styles, e.g. the inner dropdown selectors and today etc. You may have your own defined. ======*/
.BottomAnchor {text-decoration:none; font:bold 9pt Tahoma, Verdana; color:white;}
A.BottomAnchor:hover {color:yellow;}
A.BottomAnchor:active {color:red;}
#rounded-corner tbody tr:hover td
{
	background: #FFEFBF;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}
#rounded-corner tfoot td.rounded-foot-left
{
	background: #fff url('images/botleft.jpg') left bottom no-repeat;
}

#rounded-corner tr:nth-child(odd) {
   background-color: #00BFFF;
}

.right_content{
	width:625px;
	float:left;
	padding:30px 0 0 30px;
}
.question {
	position: absolute;
	display: inline;
	text-align: center;
	width: 174px;
	height: 78px;
	font-size: 13px;
	line-height: 1.5em;
	background: url('../images/bubble.png') left top no-repeat;
	padding: 10px 0 0 0;
	text-shadow: 0px 1px 0px #fff;
	margin-left: -7em;
	margin-top: -6em;
	opacity: 0;
}
.yes{
	margin-top: .5em;
	margin-right: .5em;
	cursor: pointer;
	display: inline-block;
	width: 63px;
	height: 21px;
	color: #434d17;
	text-shadow: 0px 1px 0px #fff;
	background: url('../images/buttony.png') left top no-repeat;
}
.cancel {
	margin-top: .5em;
	margin-right: .5em;
	cursor: pointer;
	display: inline-block;
	width: 63px;
	height: 21px;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	background: url('../images/buttonn.png') left top no-repeat;
	}



html { 
	height: 100%;
}

* { 
	margin: 0;
	padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
	display:block;
}

body { 
	
	background: #DBDBEA  url(/login/logo/cc-pattern-light.png) repeat;
	font-family: 'Open Sans','lucida grande',tahoma, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #485056;
	line-height: 22px;	
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
}

p { 
	padding: 0 0 20px 0;
	line-height: 1.7em;
}

img { 
	border: 0;
}

h1, h2, h3, h4, h5, h6 { 
	color: #00468C;
	letter-spacing: 0em;
	padding: 0 0 5px 0;
}

h2, h3 { 
	font: normal 140% 'Open Sans', sans-serif;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
	color: #222;
}

h2 { 
	font-size: 160%;
	padding: 9px 0 5px 0;
}

h3 { 
	font-size: 140%;
	padding: 5px 0 0 0;
}
h1 { 
	font-size: 1.6em;
	font-family:'Open Sans','lucida grande',tahoma,sans-serif;
	font-weight: bolder;
	color: #224167;
	text-align: center;
	margin-bottom: 30px;
	background: none repeat scroll 0% 0% #F1F1F1;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10px;
	border-top: 4px solid #cfd2d3;
	border-bottom: 4px solid #cfd2d3;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03) inset;
	text-decoration:none !important;
}


h4, h6 { 
	color: #00AAD5;
	padding: 0 0 5px 0;
	font: normal 160% 'Open Sans','lucida grande',tahoma,sans-serif;
}

h5, h6 { 
	color: #555;
	font: italic 95% 'Open Sans','lucida grande',tahoma, sans-serif;
	letter-spacing: normal;
	padding: 0 0 15px 0;
}

h7 a{
	background: #ed5a5a url("https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/icons/icon-new-corner-2f16b64b40121ff1506f4e8be4b11d66.svg") no-repeat top right;
	color: white;
	-webkit-border-radius: 3px 0 3px 3px;
	-moz-border-radius: 3px 0 3px 3px;
	-ms-border-radius: 3px 0 3px 3px;
	-o-border-radius: 3px 0 3px 3px;
	border-radius: 3px 0 3px 3px;
	padding : 3px 5px;


}

a{ 
	outline: none;
	text-decoration: none;
	color: #EEEEEE;
	font-style:bolder;
}

a:hover { 
	text-decoration: none;
}

blockquote { 
	margin: 20px 0; 
	padding: 10px 20px 0 20px;
	border: 1px solid #E5E5DB;
	background: #FFF;
}

ul { 
	margin: 2px 0 22px 17px;
}

ul li { 
	list-style-type: circle;
	margin: 0 0 6px 0; 
	padding: 0 0 4px 5px;
	line-height: 1.5em;
}

ol { 
	margin: 8px 0 22px 20px;
}

ol li { 
	margin: 0 0 11px 0;
}

.left { 
	float: left;
	width: auto;
	margin-right: 10px;
}

.right { 
	float: right; 
	width: auto;
	margin-left: 10px;
}

.center { 
	display: block;
	text-align: center;
	margin: 20px auto;
}

#login{
	margin:0px auto;
	width :500px;
	height:300px;
	padding: 0px 0px 0px 20px;
	border : 12px solid ;
	
}
#form{
	margin:0px auto;
	width :300px;
	height:300px;
	
}

#main, nav, #container, #logo, #site_content, footer { 
	margin-left: auto; 
	margin-right: auto;
}

#main {
	min-height:100%;
	margin: 5px auto;
	width: 940px;
	background: transparent;
	padding-bottom: 30px;
}


header { 
	background: transparent;
	height: 130px;
}

#logo { 
	width: 940px;
	height: 130px;
	background: transparent;
	color: #888;
	padding: 0px 0px 10px 0px;
	float: left;
}

#logo h1, #logo h2 { 
	font: normal 320% 'Open Sans',sans-serif;
	border-bottom: 0;
	text-transform: none;
	margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
	padding: 0;
	color: #444;
	text-decoration: none;
}

#logo_text h1 a .logo_colour { 
	color: #B30303;
}

#logo_text a:hover .logo_colour { 
	color: #444;
}

#logo_text h2 { 
	font-size: 140%;
	padding: 0 0 0 0;
	color: #222;
}

nav { 
	height: 50px;
	width: 100%;
	float: right;
	margin: -20px auto 0 auto;
	background: #0099cc;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	vertical-align:center;

} 

#site_content { 
	width: 940px;
	overflow: hidden;
	margin: 0px auto 0 auto;
	padding: 15px 0 15px 0;
} 

#sidebar_container { 
	float: right;
	width: 224px;
	margin: 25px 0 0 0;
}

.jclock{
	color:#444444;
	float:right;
	font-size:34px;
	font-weight:bold;
	padding:50px 5px 0 0;
}

.sidebar { 
	float: right;
	width: 240px;
	padding: 5px 20px;
	margin: 0 0 17px 0;
}

.sidebar h3, .content h1 { 
	padding: 30px 10px 20px 10px;
	text-shadow:  #FFF 1px 1px;
	margin: 0 1px;
	color: #444;
	margin-top:10px;
}

.sidebar h3 { 
	color: #444;
	font: 250% 'Open Sans',sans-serif;
	padding: 0 15px 5px 0;
}

.sidebar ul { 
	margin: 0 0 15px 0;
} 

.sidebar li a, .sidebar li a:hover { 
	color: #555;
	text-decoration: none;
} 

.sidebar li a:hover { 
	text-decoration: underline;
} 

.sidebar_item, .content_item { 
	padding: 15px 0;
}

.content { 
	min-height:400px;
	position:relative;
	text-align: left;
	width:98%;
	margin: 0px auto;
	float: left;
	background-color:#fff;
	
	padding: 0px 10px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	
	margin-bottom:20px;

}
#contentadmin { 
	min-height:400px;
	position:relative;
	text-align: left;
	width:98%;
	margin: 0px auto;
	float: left;
	background-color:#fff;
	padding: 10px 10px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	margin-bottom:20px;
}

.content ul { 
	margin: 2px 0 22px 0px;
}

.content ul li, .sidebar ul li { 
	list-style-type: none;
	background: url(../images/bullet.png) no-repeat;
	margin: 0 0 0 0; 
	padding: 0 0 4px 28px;
	line-height: 1.5em;
}

.footer { 
	margin-top: 100px;
	display: block;
	width: 945px;
	margin: 0 auto;
	color: #9090;
	font-size: 18px;
	text-align: center;
	padding-left: 30px;
	padding-top : 25px;
	bottom :0;  
	margin-bottom: 0;
	
}

.footer p { 
	line-height: 1.7em;
	padding: 0 0 10px 0;
}

.footer a { 
	color: #222;
	text-decoration: none;
}

.footer a:hover { 
	color: #222;
	text-shadow: none;
	text-decoration: underline;
}

/*notifikasi*/

.gagal{
	font-size: 14px;
	box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
	width:900px;
	background:#FF4C79;
	display:block;
	margin:0 auto;
	padding:10px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	transition:background .3s;
	-webkit-transition:background .3s;
	margin-bottom: 20px;
}

.sukses{
	font-size: 16px;
	
	height: 20px;
	width:900px;
	font-style: bolder;
	color: #468847;
	background-color: #dff0d8;
	border : 2px solid #d6e9c6;
	border-radius: 4px;
	display:block;
	margin:0 auto;
	padding:10px;
	text-align:center;
	text-decoration:none;
	transition:background .3s;
	-webkit-transition:background .3s;
	vertical-align: middle;
	margin-bottom: 20px;
}

.notification {
	width : 600px;
    position: relative;
    margin: 0 auto 20px auto;
    padding: 25px 15px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 
	0 1px 1px rgba(0,0,0,0.1), 
	inset 0 1px 0 rgba(255,255,255,0.6);  
    opacity: 75%;
    cursor: default;
	  background: #ffe691;
    border: 1px solid #f6db7b
}
.notification p {
	font-weight: bold;
	font-size: 14px;
	margin: 0;
	padding: 0 10px 0 60px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.notification p:before{
	text-align: center;
	border: 3px solid rgba(255, 255, 255, 1);
	margin-top: -17px;
	top: 50%;
	left: 20px;
	width: 30px;
	content: 'i';
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}


input[type="text"],input[type="password"],input[type="teks"],input[type="nama_kep"],input[type="date"],select{
	font-size: 13px;
	height: 30px;
	width:250px;
	padding: 2px 12px;
	line-height: 1.32857;
	color: #555;
	vertical-align: middle;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input[type="text"]:focus,,input[type="password"]:focus, input[type="teks"]:focus,input[type="nama_kep"]:focus,input[type="date"]:focus,select:focus,textarea:focus{	
	 border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;	 
}

input[type="kecil"]    {
	width: 20px !important;  
	font-size: 13px;
	height: 30px;
	padding: 2px 12px;
	font-size: 12px;
	line-height: 1.32857;
	color: #555;
	vertical-align: middle;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.075) inset; 
}

input:-moz-read-only { /* For Firefox */
   color: #222222;
  cursor: default;
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  opacity: .7;
}

input:read-only { 
    color: #222222;
  cursor: default;
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  opacity: .7;
}


textarea{
	font-family : "Open Sans", arial;
	border: 1px solid #d2dadd;
	box-shadow: 0px 1px 1px #F3F4F6 inset;
	font-size: 13px;
	color: #3a3a3a;
	outline-color: #e2eaed;
	background: #F8F8F8;
	width: 250px;
	height: 90px;	
}

.button{
	text-transform: capitalize;
	font-weight:bold;
	border: 0;
	float: right;
	width: 175px;
	margin: 0 0 15px 0px;
	height: 35px;
	padding: 5px 15px 5px 15px;
	cursor: pointer;
	color: #ffffff;
	text-shadow: 0 -1px #357935;
	background-color: #5cb85c;
	border-color: #4cae4c;
	border-bottom: 3px solid #2d672d;
}

.button:disabled{
	text-transform: capitalize;
	font-weight:bold;
	border: 0;
	float: right;
	width: 175px;
	margin: 0 0 15px 0px;
	height: 35px;
	padding: 5px 15px 5px 15px;
	color: #ffffff;
	text-shadow: 0 -1px #357935;
	background-color: #FFCC99;
	border-color: #FFEFBF;
	border-bottom: 3px solid #2d672d;
}

.button :hover{
	background-color: #00B32D;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.cetak{
	margin : 0 auto;
	text-transform: capitalize;
	font-weight:bold;
	border: 0;
	width: 175px;
	height: 35px;
	padding: 5px 15px 5px 15px;
	cursor: pointer;
	color: #ffffff;
	text-shadow: 0 -1px #357935;
	background-color: #5cb85c;
	border-color: #4cae4c;
	border-bottom: 3px solid #2d672d;
}

input[type="submit"]{
	text-transform: capitalize;
	text-transform: capitalize;
	font-weight:bold;
	border: 0;
	width: 150px;
	margin: 0 0 15px 0px;
	height: 35px;
	padding: 5px 15px 5px 15px;
	cursor: pointer;
	color: #ffffff;
	text-shadow: 0 -1px #357935;

	border-color: #007FFF;
	border-bottom: 3px solid #00468C;
	border-radius : 2px;
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	background-color: #1E8BC3;		
}

input[type="submit"]:disabled{
	text-transform: capitalize;
	text-transform: capitalize;
	font-weight:bold;
	border: 0;
	width: 150px;
	margin: 0 0 15px 0px;
	height: 35px;
	padding: 5px 15px 5px 15px;
	cursor: pointer;
	color: #ffffff;
	text-shadow: 0 -1px #357935;

	border-color: #007FFF;
	border-bottom: 3px solid #00468C;
	border-radius : 2px;
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	background-color: #FFFF4C;		
}

input[type="submit"]:hover{
	
	background-color: #00A3D9;	

	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;

}

.form_settings2 textarea { 
	padding: 2px 12px;
	width: 200px;
}



.form_settings2 .checkbox { 
	margin: 4px 0; 
	padding: 0; 
	width: 14px;
	border: 0;
	background: none;
}
.form_settings2 { 
	margin: 15px 0 0 0px;
}

.form_settings p { 
	padding: 0 0 4px 0;
}

.form_settings span { 
	float: left; 
	width: 200px; 
	text-align: left;
}



.form_settings .submit { 
	border: 0; 
	width: 75px; 
	margin: 0 0 0 0px; 
	height: 30px;
	padding: 2px 0 3px 0;
	cursor: pointer; 
	color: #ffffff;
	text-shadow: 0 -1px #0d3662;
	background-color: #1968bc;
	border-color: #165ca5;
	border-bottom: 3px solid #0a2a4b;
}

.form_settings textarea, .form_settings select { 
	margin-top: 10px; 
	margin-bottom: 10px; 
	font-size: 13px;
	height: 30px;
	padding: 2px 12px;
	font-size: 12px;
	line-height: 1.32857;
	color: #555;
	vertical-align: middle;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.075) inset; 
	width: 299px;
}

.form_settings select { 
	width: 310px;
}

.form_settings .checkbox { 
	margin: 4px 0; 
	padding: 0; 
	width: 14px;
	border: 0;
	background: none;
}

.separator { 
	width: 100%;
	height: 0;
	border-top: 1px solid #D9D5CF;
	border-bottom: 1px solid #FFF;
	margin: 0 0 20px 0;
}


.card{
	background: #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
	width:500px;
}

.card .ket{
	background: #2888D3;
	padding: 7px 4px;
	text-align: center;
	color: #FFF;
}

table { 
	margin: 10px 0 30px 0;
	width : 100% !important;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	
}

table tr:hover{ 	
	background: #424251 !important;
}

table tr, table tr td { 	
	padding: 10px 5px;
	text-align: left;
	
}


table tr th{ 
	background: #00698C;
	color: #FFF;
	padding: 12px 4px;
	text-align: center;
}

table tr td { 
	background: #DDDDDD;
	color: #444;  
	border-bottom : 1px solid #CCCCCC;;
}

td a:hover{background: #FFEFBF;}



/* Image Transitions */
ul#images {
	margin: 0 15px 10px 0;
	padding: 0;
	list-style: none;
	position: relative;
}

ul#images li {
	display: block;
	overflow: hidden;
	padding: 0;
	float: left;
	width: 155px;
	height: 300px;
}



/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
**/

/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
	width: 200px;
}

html body ul.sf-menu ul ul { 
	margin: 0 0 0 200px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
	margin: 0;
	padding: 0;
}

ul.sf-menu { 
	display: block;
	position: relative;
}

ul.sf-menu li { 
	display: block;
	list-style: none;
	float: left;
	position: relative;
}

ul.sf-menu li:hover { 
	visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
	display: block;
	position: relative;
}

ul.sf-menu ul { 
	position: absolute;
	left: 0;
	width: 150px; 
	top: auto;
	left: -999999px;
}

ul.sf-menu ul a { 
	zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
	float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
	width: 150px;
}

ul.sf-menu ul ul { 
	top: 0;
	margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
	left: auto;
}

ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
	left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow { 
	width: 7px;
	height: 7px;
	position: absolute;
	top: 20px;
	right: 5px;
	display: block;
	background: url(../images/arrows-black.png) no-repeat 0 0;
	overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
	font-size: 1px;
}

ul ul span.sf-arrow { 
	right: 5px;
	top: 20px;
	background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
	float: left;
}

ul#nav ul { 
	background: #ddd;
	margin-top: 5px;
	padding-bottom: 15px;
}

ul#nav li a { 
	text-transform: capitalize;
	padding: 15px 25px 6px 25px;
	text-decoration: none;
	margin-right: 2px;
}

ul#nav li a:hover, ul#nav li a:focus, ul#nav li.selected a, ul#nav li.selected a:hover, ul#nav li.selected a:focus { 
	color: #a3c5ea;
	text-shadow: none;
}

ul#nav ul li a { 
	color: #222;
}

ul#nav ul li a:hover { 
	color: #006CD9;
	margin-right: 2px;
	/* background: none repeat scroll 0% 0% #09C; */
	border-left: 4px solid #09C;
	transition: all 0.2s ease 0s;
}



/* Image Transitions */
ul#images {
	margin: 0 15px 10px 0;
	padding: 0;
	position: relative;
}

ul#images li {
	display: block;
	overflow: hidden;
	padding: 0;
	float: left;
	width: 155px;
	height: 300px;
	list-style: none;
}

/* TOOLTIP */

    a.tooltip {outline:none;text-decoration:none;}
    a.tooltip strong {line-height:30px;}
    a.tooltip > span 
    {
	    width:70px;
	    padding: 10px 20px;
	    margin-top: 20px;
	    margin-left: -85px;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 10;	   
	    position: absolute;

	    font-size: 12px;  
		color:#fff;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -o-border-radius: 3px;
	    border-radius: 3px;
	    
	    
        -webkit-box-shadow: 2px 2px 2px #999;
	    -moz-box-shadow: 2px 2px 2px #999;		
	    box-shadow: 2px 2px 2px #999;	    
	    
	    -webkit-transition-property:opacity, margin-top, visibility, margin-left;
	    -webkit-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -moz-transition-property:opacity, margin-top, visibility, margin-left;
	    -moz-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -o-transition-property:opacity, margin-top, visibility, margin-left;
	    -o-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    transition-property:opacity, margin-top, visibility, margin-left;
	    transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    }
    
    /*a.tooltip > span:hover,*/
	a.tooltip:hover > span
	{
		opacity: 1;
		text-decoration:none;
		visibility: visible;
		overflow: visible;
		margin-top:50px;
		display: inline;
		margin-left: -60px;		
	}

	a.tooltip span b {
    
		width: 15px;
		height: 15px;
		margin-left: 20px;
		margin-top: -19px;
			
		display: block;
		position: absolute;

		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
			
		-webkit-box-shadow: inset -1px 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		-o-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
			
		display: none\0/;
		*display: none;
	}
    
a.tooltip > span {
	color: #FDFDFF; 
	background: #4C5365;
	/*background: -moz-linear-gradient(top, #22A7F0 0%, #22A7F0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22A7F0), color-stop(100%,#22A7F0));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22A7F0', endColorstr='#22A7F0',GradientType=0 );
	   */ 
	border: 1px solid #4C5365;	     
}    
	  
a.tooltip span b {
	background: #4C5365;
	border-top: 1px solid #4C5365;
	border-right: 1px solid #4C5365;
}    


#popup
{
   /*  top:15%;
    left:50%;
    width:500px; 
    margin-left:-250px;	 */
    display:none;		
	/* background: #e74c3c;
	position: fixed;	
	max-width: 630px;
	min-height: 300px;
	z-index: 2000; */
	
	position: fixed;
	top:15%;
    left:50%;
    width:500px; 
    margin-left:-250px;
	
	z-index: 9999;
	opacity: 50;
	background: linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    );
}

.modal {
	border: none;
	padding: 0.6em 1.2em;
	background: #c0392b;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

.modal:hover {
	background: #A5281B;
}

label.error {
	/* float: right; */
	color: red;
	margin-left: 12px;
	padding-left: .1em;		
	box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,2px 2px 2px #CCC;	
	background:#FF4C79;		
	text-decoration:none;
	padding:2px 4px;
	color:#fff;
	transition:background .3s;
	-webkit-transition:background .3s;
	margin-bottom: 20px;
			
}