/* Important code */


input[type="radio"], tabulasi {
  clear: both;
  padding-top: 10px;
  display: none;
}
label {
  font-weight: bold;
  font-size: 14px;
  display: block;
  float: left;
  padding: 10px 30px;
  border-top: 2px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #DDD;
}
label:hover {
  cursor: pointer;
  background-color: #F2F1EF;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 {
  display: block;
}


input[type="radio"]:checked + label {
  border-top: 2px solid #0086B3;
  border-right-color: #DDD;
  border-left-color: #DDD;
  border-bottom-color: transparent;
  text-decoration: none;
}

nput[type="submit"]{
	text-transform: capitalize;
	border: 0; 
	width: 125px; 
	margin: 0 0 0 0px; 
	height: 30px;
	padding: 2px 0 3px 0;
	cursor: pointer; 
	color: #ffffff;
	text-shadow: 0 -1px #0d3662;
	background-color: #1968bc;
	border-color: #165ca5;
	border-bottom: 3px solid #0a2a4b;
}
